/* General button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: dimgrey;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none; /* Remove the outline on focus */
}

/* Hover effect for Start/Pause button */
.start-pause:hover {
  background-color: #28a745;  /* Green */
  color: white;
  border-color: #218838; /* Darker green border */
}

/* Hover effect for Reset button */
.reset:hover {
  background-color: #dc3545; /* Red */
  color: white;
  border-color: #c82333; /* Darker red border */
}

/* Mobile-specific styles */
@media only screen and (max-width: 480px) {
  button {
    padding: 15px 30px; 
    font-size: 18px;    
  }

  .start-pause:hover {
    background-color: #28a745;
    color: white;
    border-color: #218838;
  }

  /* Modify the reset button for mobile */
  .reset:hover {
    background-color: #dc3545;
    color: white;
    border-color: #c82333;
  }
}






