/* Default style for desktop view */
h1 {
  text-align: center;
  color: white;
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  display: flex;
  background-color: black; /* For browsers that do not support gradients */
  background-image: radial-gradient(deepskyblue, black);
  color: white;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.timer {
  padding: 20px;
  color: white;
  margin: 0px auto;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.stopwatch {
  padding: 3%;
  margin: 10px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  place-items: center;
  text-align: center;
}

.buttons {
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}

.progress-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: dimgray;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
  h1 {
      font-size: 2em;
  }

  .timer {
      font-size: 24px;
  }

  .stopwatch {
      padding: 5%;
  }

  .buttons {
      flex-direction: column;
      gap: 15px;
  }

  .progress-button {
      padding: 8px 16px;
      font-size: 0.9rem;
  }
}
